<div class="container" >

<form style="max-width: 700px; margin: 0 auto;" name="test" >
           
                    <div>
                    <span>
                        Hi, welcome to our website.<br/>If you would like to create an event with us, please complete the information below. 
                        After we check the details that you provided, We will contact you for all your event information as soon as possible.
                    </span>
                    </div>

                    <div><P><b>Event Details</b></P>
                    <p>Event Name:
                        <input placeholder="Event Name" class="form-control " type="text" ng-model="event.name" 
                              required="required"/>

                    </p>
                    </div>

                    <div> 
                    <p>Event Date:
                        <input placeholder="Event Date" class="form-control " type="text" ng-model="event.date" 
                              required="required"/>

                    </p>
                    </div>



                    <div> 
                    <p>Event location:
                        <input placeholder="Event Location" class="form-control " type="text" ng-model="event.location" 
                            required="required"/>

                    </p>
                    </div>


                    <div> 
                    <p>Event Type:
                        <input placeholder="Event Type" class="form-control " type="text" ng-model="event.type" 
                              required="required"/>

                    </p>
                    </div>

                                
                     <div class="row">

               
                       
                        <p>Event Description:</p>
                        <p><textarea class="form-control" placeholder="Leave A Description" rows="15" type="text"  value="" ng-model="event.desc" required="required">
                
                       </textarea></p>
                       </div>
                        


    
            
                    <div><P><b>Personal Details</b></P>
                    <p>Name:
                        <input placeholder="Your Name" class="form-control" type="text" ng-model="event.organizer.personname" 
                              required="required"/>
                    </p>
                    </div>
          

               
                    <div>
                    <p>Organization:
                        <input placeholder="Organization Name" ng-model="event.organizer.organizationname" class="form-control"
                                type="text" />
                    </p>
                    </div>
              

              
                    <div>
                    <p>Email:
                        <input placeholder="Email address" class="form-control" ng-model="event.organizer.email" type="text"
                               required="required"/>
                    </p>
                        
                    </div>
             
               
                    <div>
                    <p>Phone:
                        <input placeholder="Phone" class="form-control" type="text" ng-model="event.organizer.contact"
                               />
                    </p>
                    </div>
    
                       <div>
                       <p>Mobile Phone: 
                        <input placeholder="Mobile Phone" class="form-control" ng-model="event.organizer.mobilecontact" type="text"
                               /></p>
                    </div>
              

        

            <div class="row">

               
                        <p><b>Message: </b></p>
                        <p><textarea class="form-control" placeholder="Leave A Message" rows="15" name="text"  value="" ng-model="event.organizer.desc" required="required">
                
                       </textarea></p>
                       </div>
        

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-lgs"  ng-click="AddEvent()" >Send</button>
                </div>
            </div>
        </form>
</div>


